.mod_form form label {	cursor:pointer;	}
.mod_form form input {	vertical-align:middle;	}
.mod_form form table  {	width: 100%;	}
.mod_form form table th {
	padding: 20px;  width:20%;
	font-weight:bold;  color:#000;
	vertical-align: top;
}
.mod_form form table td.taste label {	float: center;	width: 145px;	}
.result {
	justify-content: center;
	display: flex;
}
.hand {
	justify-content: space-evenly;
	display: flex;	flex-direction: row;
	align-items: flex-start;
}
.nochange_checkbox {    position: absolute;   opacity:0	}
.nochange_checkbox + img {   border: 1px solid rgba( 0, 0, 0, 0 );	}
.nochange_checkbox:checked + img {    border: 2px dashed red;	}
.location_checkbox {    position: absolute;    opacity:0	}
.location_checkbox + img {    border: 1px solid rgba( 0, 0, 0, 0 );	}
.location_checkbox:checked + img {   border: 2px dashed red;  position: relative;    bottom: 10px;	}
.card {	width: 136px;	height: 200px;	}
.scard{	width: 90px;	height: 140px;	}
.trump {	width: 400px;	height: 235px;	}
button {	WIDTH: 200px; HEIGHT: 40px	}
input.btn{	WIDTH: 200px; HEIGHT: 40px	}
div {	text-align:center;	}
body {
	color: #fff;
	text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
	background-image: url(../img/back.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #52c234;
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans';
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#blackjack{
	color:#000;
}
#burst{
	color:#FF33CC;
}
.example2 {	padding: 0.5em 1em;	background: #52c234;
margin-block-start: 0.5em;
    margin-block-end: 0.5em;	}
footer {	margin-top: auto;	}
.mgr-50 {    margin-right : 50px;	}
.mgr-20 {    margin-right : 20px;	}
.box1{
  padding: 0.2em;
  background-color: #c5e1a5;
  border: double 5px #66bb6a;
}
.resultback {
	border: thick double #4CB32C;
	background-color: rgba( 76, 179, 44, 0.55 );
	margin-left: auto;
	margin-right: auto;
}
.handback {
	padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 7px #FFF;
    border-radius: 10px;
}
.Win{
	margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    border-top:1px solid #CC3333;
	border-bottom:1px solid #CC3333;
	padding: 5px 5px 5px 15px;
	background: #666;
	background: -moz-linear-gradient(top, #F00, #C00); /* FireFox */
	background: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#C00));/* Chrome & Safari */
	border-radius: 7px;
	-moz-border-radius: 7px; /* FireFox */
	-webkit-border-radius: 7px;/* Chrome & Safari */
	font-size:140%;
	margin-left: auto;
	margin-right: auto;
}
.Lose{
	margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    border-top:1px solid #888;
	border-bottom:1px solid #888;
	padding: 5px 5px 5px 15px;
	background: #666;
	background: -moz-linear-gradient(top, #666, #252525); /* FireFox */
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#252525));/* Chrome & Safari */
	border-radius: 7px;
	-moz-border-radius: 7px; /* FireFox */
	-webkit-border-radius: 7px;/* Chrome & Safari */
	font-size:140%;
	margin-left: auto;
	margin-right: auto;
}
.Draw{
	margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    border-top:1px solid #888;
	border-bottom:1px solid #888;
	padding: 5px 5px 5px 15px;
	background: #fff;
	background: -moz-linear-gradient(top, #eee, #ccc); /* FireFox */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));/* Chrome & Safari */
	border-radius: 7px;
	-moz-border-radius: 7px; /* FireFox */
	-webkit-border-radius: 7px;/* Chrome & Safari */
	font-size:140%;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 480px) {

.result {	justify-content: center;	display: block;	}
.hand {	justify-content: space-evenly;	display: table;	flex-direction: row;	align-items: flex-start;	  margin: 0 auto;}
.host{	width: 100% ;	margin-left: auto;	margin-right: auto;}
.player{	width: 100% ;	margin-left: auto;	margin-right: auto;}
.trump {	width: 100% ;	}
.btn03 {	WIDTH: 200px; HEIGHT: 40px	}
}
@media screen and (min-width: 480px) {

.Win,.Lose,.Draw,.resultback{
	width: 390px;
}
.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #71e52e;
  box-shadow: 0px 15px 20px rgba(113, 229, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.btn02 {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
	text-align:center;
  border-radius: 4px;
  transition: .4s;
}

.btn02:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.btn03 {
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
  WIDTH: 200px; HEIGHT: 40px
}

.btn03:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}
}