.mod_form form label {	cursor:pointer;	}
.mod_form form input {	vertical-align:middle;	}
.mod_form form table  {	width: 100%;	}
.mod_form form table th {
	padding: 20px;  width:20%;
	font-weight:bold;  color:#000;
	vertical-align: top;
}
.mod_form form table td.taste label {	float: center;	width: 145px;	}
.result {
	justify-content: center;
	display: flex;
}
.hand {
	justify-content: space-evenly;
	display: flex;	flex-direction: row;
	align-items: flex-start;
}
.nochange_checkbox {    position: absolute;   opacity:0	}
.nochange_checkbox + img {   border: 1px solid rgba( 0, 0, 0, 0 );	}
.nochange_checkbox:checked + img {    border: 2px dashed red;	}
.location_checkbox {    position: absolute;    opacity:0	}
.location_checkbox + img {    border: 1px solid rgba( 0, 0, 0, 0 );	}
.location_checkbox:checked + img {   border: 2px dashed red;  position: relative;    bottom: 20px;	}
.card {	width: 136px;	height: 200px;	}
.scard{	width: 105px;	height: 160px;	}
.trump {	width: 400px;	height: 235px;	}
button {	WIDTH: 200px; HEIGHT: 40px	}
input.btn{	WIDTH: 200px; HEIGHT: 40px	}
div {	text-align:center;	}
body {
	color: #fff;
	text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
	background-image: url(../card/back.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #52c234;
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans';
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.example2 {	padding: 0.5em 1em;	background: #52c234;
margin-block-start: 0.5em;
    margin-block-end: 0.5em;	}
footer {	margin-top: auto;	}
.mgr-50 {    margin-right : 50px;	}
.mgr-20 {    margin-right : 20px;	}
.box1{
  padding: 0.2em;
  background-color: #c5e1a5;
  border: double 5px #66bb6a;
}
.resultback {
	border: thick double #4CB32C;
	background-color: rgba( 76, 179, 44, 0.55 );
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.handback {
	padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 7px #FFF;
    border-radius: 10px;
}
@media screen and (max-width: 480px) {
.result {
	justify-content: center;
	    display: block;
}
.trump {
width: 100% ;
}

}